{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="position: absolute;height: 666px;background-size: cover;background-image: url({%static "img/car2.jpg" %});">
<div style="padding: 20px;width: 400px;background-color: #03033a;display: block;margin: auto;margin-top: 200px">
<h1 style="color: white;text-align: center">admin login</h1>
    <form method="Post" action="/adminauthenticate/">
    {% csrf_token %}
      <input type="text" style="margin-bottom: 15px" class="form-control" placeholder="username" name="username">
      <input type="password" class="form-control" placeholder="password" name="password">
	    <input type="submit" style="display: block;margin: auto;margin-top: 10px" class="btn btn-success" name="">
    </form>
</div>
{% endblock %}